html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	}

body {
	background: #EEE;
	color: #444;
	font-family: Verdana;
	}

h1 {
	margin-top: 0;
	text-align: center;
	}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -47px;
	background: #FFF;
	padding: 0 10px;
	width: 940px;
	box-shadow: 0 0 6px #666;
	}

#header {
	border-bottom: solid #666 2px;
	font-family: Trebuchet MS;
	font-size: 30pt;
	height: 90px;
	line-height: 90px;
	text-align: center;
	}

#middle {
	padding: 15px 0;
	}

	#example-1 {
		width: 400px;
		}

	#example-2 {
		float: right;
		text-align: center;
		width: 400px;
		}

	#example-3 {
		
		}

#push {
	clear: both;
	height: 47px;
	}

#footer {
	border-top: solid #999 2px;
	height: 45px;
	line-height: 45px;
	margin: 0 auto;
	text-align: center;
	width: 940px;
}